.all-in-one-container {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.all-in-one-container-how-it-works {
  h2 {
    font-weight: 600;
    font-size: 28px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }
}

.all-in-one-container-img {
  width: 60%;
}

.all-in-one-container-faq {
  width: 40%;
}

@media only screen and (max-width: 959px) {
  .all-in-one-container {
    flex-direction: column;
  }

  .all-in-one-container-img,
  .all-in-one-container-faq {
    width: 100%;
  }
}
