.swaps-container {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.swaps-container-img {
}

.swaps-container-img img {
}

.swaps-container-faq {
}

.swaps-container-how-it-works {
  h2 {
    font-weight: 600;
    font-size: 28px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }
}
