.page-heading {
  padding-top: 100px;
  background-repeat: no-repeat;
  color: #fff;
  height: 100%;
  width: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
  background-blend-mode: color;
  background-size: cover;
}

.page-heading-container,
.page-heading-content {
  padding: 1.5rem 0;
}

.page-heading-title {
  font-weight: 500;
}

.page-heading-hr {
  width: 40%;
  border: 2px solid #ffcb00;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-heading-header {
<<<<<<< HEAD
  font-size: 32px;
  font-weight: 700;
=======
  font-size: 55px;
  font-weight: 500;
>>>>>>> main
}

.page-heading-container-bg {
  display: flex;
  justify-content: space-between;
}

.page-heading-container > p {
  font-size: 16px;
}

@media only screen and (max-width: 959px) {
  .page-heading {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .page-heading-container-bg {
    flex-direction: column;
  }
}
