.account-verification-content {
  margin-left: 250px; /* Adjust based on sidebar width */
  padding: 20px;
}

.content {
  padding: 20px;
  min-height: calc(100vh - 70px); /* Adjust based on header height */
}

.banner-container {
  display: flex;
  gap: 1rem;
}

.banner-container div {
  flex: 1;
}

.watchlist-content {
  display: flex;
  gap: 1rem;
  overflow-y: auto;
}
