.link-trader {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
}

.link-trader h1 {
  color: #333;
  margin-bottom: 10px;
}

.link-trader p {
  margin-bottom: 20px;
}

.link-trader-field {
  flex-wrap: nowrap;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #007bff;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  margin: 0;
}

.input-group button {
  padding: 10px 15px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.input-group button img {
  width: 20px;
  height: 20px;
  color: var(--corsa-white-color);
}

.copy-status {
  color: green;
  margin-top: 10px;
}
