.legal-documents-content {
  padding: 2rem;
}

.legal-documents-links {
  display: flex;
  gap: 3rem;
}

.legal-documents-links-container {
  margin-top: 1rem;
  flex: 1;
}

.legal-documents-links-container ul {
  list-style-type: none;
  padding: 0;
}

.legal-documents-links li {
  height: 3.5rem;
}

.legal-documents-links a {
  font-size: 20px;
  color: var(--corsa-black-color);
}
