.privacy-policy-heading {
  padding: 2rem;
  font-weight: 700;
}

.privacy-policy-container {
  padding: 2rem;
}

.privacy-policy-items-btn {
  color: #1b1464;
}

.privacy-policy-items div strong {
  color: #000;
}

.privacy-policy-items div {
  color: #1b1464;
}
