.regulatory-supervision-container {
  padding: 3rem 6rem;
  text-align: center;
}

.regulatory-supervision-title {
  color: #ffcb00;
}

.regulatory-supervision-description {
  width: 50%;
  margin: 0 auto;
}

.certificate {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.certificate-img {
  width: 100%;
  max-width: 450px;
}

.certificate-text-container {
  width: 40%;
  margin: 0 auto;
}

.certificate-text-title {
  text-transform: uppercase;
}

.certificate-text-description {
  font-size: 1rem;
  color: #b0b0b0;
}
