.mainpage-body-container {
  padding-top: 250px;
}

.main-page-hr {
    width: 50%;
    border: 3px solid gold;
}

/* navigation css */
.navigating-section {
  padding: 1rem 2rem 1.5rem;
  height: 100%;
  width: 100%;
}

.navigating-section {
  h1 {
    font-size: 70px;
    color: gold;
    font-weight: 500;
  }

  h2 {
    font-size: 40px;
    color: white;
    font-weight: 500;
  }
}

.navigating-section-risk {
  p {
    font-size: 22px;
    color:white;
  }

  padding-top: 1rem;
}
/* navigation css */

/* empowering css */
.empowering-section {
  h1 {
    font-size: 70px;
    color: black;
    font-weight: 500;
  }

  padding: 1rem 2rem 1.5rem;
  height: 100%;
  width: 100%;
}

.empowering-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

/* empowering css */

/* trading css */
.trading-section {
  h1 {
    font-size: 70px;
    color: white;
    font-weight: 500;
  }

  padding: 1rem 2rem 1.5rem;
  height: 100%;
  width: 100%;
}

.trading-content-container {
  display: flex;
  justify-content: space-between;
}

.trading-content-left {
  color: white;
  font-size: 22px;
  display: block;
  padding-top: 5rem;
}

.trading-content-left {
  img {
    padding: 1rem 2rem 1.5rem;
  }
}

/* trading css */

/* download css */
.mainpage-download-section{
  h1 {
    font-size: 70px;
    color: black;
    font-weight: 500;
  }

  padding: 1rem 2rem 1.5rem;
  height: 100%;
  width: 100%;
}

.mainpage-download-content-container {
  display: flex;
  justify-content: space-between;
}
/* download css */

/* instant css */
.mainpage-insant-content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mainpage-insant-section {
  h1 {
    font-size: 70px;
    color: black;
    font-weight: 500;
  }

  h2 {
    font-size: 30px;
    color: black;
    font-weight: 500;
  }

  h3 {
    font-size: 22px;
    color: black;
    font-weight: 500;
  }

  padding: 1rem 2rem 1.5rem;
  height: 100%
}

.instant-content-left,
.instant-content-right {
  width: 50%;
}

/* instant css */

/* seize css */

.seize-section {
  h1 {
    font-size: 70px;
    color: black;
    font-weight: 500;
  }

  p {
    font-size: 35px;
    color: black;
    font-weight: 500;
  }

  padding: 1rem 2rem 1.5rem;
  height: 100%;
  width: 100%;
}

.seize-icon-container{
  display: flex;
  justify-content: start;
  align-items: start;
  padding-top: 3rem;
}

/* seize css */

/* embark css */
.embark-section {
  padding: 1rem 2rem 1.5rem;
  height: 100%;
  width: 100%;
}

.embark-section {
  h1 > p {
    font-size: 70px;
    color: white;
    font-weight: 500;
  }

  p {
    font-size: 30px;
    color: white;
    font-weight: 400;
  }
}
/* embark css */