.BackgroundImg-2 {
  background-image: url("/assets/images/section-2-process-bg.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: fixed;
  height: 60vh;
  background-size: cover !important;
}

.empowerText {
  color: black;
  font-size: 40px;
  line-height: 1.65em;
  clear: both;
  width: 100%;
}

.empower_container {
  padding-top: 30px;
}

.empower-img {
  background-image: url("/assets/images/section-2-process-logo-larger.png");
  background-repeat: no-repeat;
  height: 40vh;
  margin-left: 10%;
  margin-top: 5%;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: content-box;
  min-height: 1px;
  z-index: -1;
}

.empower-img-content {
  text-align: center;
  vertical-align: middle;
}
