.BackgroundImg-2 {
  background-image: url("/images/section-2-process-bg.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: fixed;
  height: 80vh;
  background-size: cover !important;
}

.empowerText {
  color: black;
  font-size: 40px;
  line-height: 1.65em;
  clear: both;
  width: 36.4%;
}

.empower_container {
  padding-top: 100px;
}

.empower-img {
  background-image: url("/images/section-2-process-logo-larger.png");
  background-repeat: no-repeat;
  height: 40vh;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: content-box;
  min-height: 1px;
  z-index: -1;
}
