.BackgroundImg {
  background-image: url("/images/section-1-bg.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: fixed;
  height: 80vh;
  background-size: cover !important;
}

.headerText {
  color: gold;
  font-size: 4vw;
}

.headerText_space {
  top: 30% !important;
  position: absolute !important;
}

.paragraphText {
  color: white;
  font-size: 2vw;
  margin-top: 30px;
}

.demoText {
  color: gold;
  text-decoration: none;
  background-color: #22175b;
  border-color: #22175b;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 12px 16px 10px;
}

.demoText:hover {
  background-color: gold;
  color: black;
  transition: 0.4s;
}

.tradingText {
  color: black;
  text-decoration: none;
  background-color: gold;
  border-color: gold;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 12px 16px 10px;
}

.smallerText {
  font-size: 15px !important;
}

.content {
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: content-box;
  min-height: 1px;
  z-index: -1;
}
