.BackgroundImg-6 {
    background-image: url("/images/section-6-bg.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-attachment: fixed;
    height: 55vh;
    background-size: cover !important;
  }
  
.seize-img {
    background-image: url("/images/section-6-inner-logo.png");
    background-repeat: no-repeat;
    height: 30vh;
    max-width: 100%;
    margin-top: 5%;
    background-size: contain;
}

.seize-text {
    color: black;
    font-size: 3vw;
    letter-spacing: 1px;
}

.join-text {
    color: black;
    font-size: 1vw;
    letter-spacing: 1px;
    margin-top: 30px;
}