.deposit-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.deposit-methods {
  width: 65%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.methods-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.method-button {
  padding: 10px;
  border: 1px solid #007bff;
  background-color: var(--corsa-white-color);
  border-radius: 5px;
  cursor: pointer;
}

.method-button.selected {
  background-color: #007bff;
  color: var(--corsa-white-color);
}

.amount-section {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 2em;
}

.amount-section label {
  margin-right: 10px;
}

.amount-section input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.amount-section button {
  padding: 8px 16px;
  background-color: #007bff;
  color: var(--corsa-white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deposit-notes {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.deposit-notes h2 {
  margin-top: 0;
}

.deposit-notes ul {
  list-style: square inside;
}
