.sidebar {
  width: 15%; /* Sidebar takes up 20% of the viewport width */

  background-color: var(--corsa-membersite-light-blue);
  color: var(--corsa-membersite-cream);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 99;
}

.sidebar-header {
  background-color: var(--corsa-membersite-light-blue);
  padding: 15px;
  display: flex;
  align-items: center;
}

.sidebar-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sidebar-title {
  font-size: 1.2rem;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.menu li {
  padding: 10px 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu li a:hover {
  background-color: var(--corsa-membersite-dark-blue);
}

.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.menu .active {
  color: var(--corsa-membersite-yellow);
}
