.page-instrument-container {
  padding: 1rem 2rem 1.5rem;
}

.page-instrument-content {
  h1 {
    color: var(--corsa-dashboard-yellow);
  }

  p {
    font-size: 22px;
    padding-top: 1rem;
  }
}

.page-instrument-button {
  color: var(--corsa-black-color);
  text-decoration: none;
  background-color: var(--corsa-dashboard-yellow);
  border-color: #22175b;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 10px 14px 8px;
  font-weight: 600;
  border-style: solid;
}

.page-instrument-button:hover {
  background-color: var(--corsa-dashboard-yellow);
  color: var(--corsa-white-color);
  font-weight: 600;
  transition: 0.4s;
}

.page-instrument-button .arrow-icon {
  width: 10%;
  padding-left: 0.3em;
}

.instrument-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instrument-icon {
  width: 100%;
}

.content-paragraph > p {
  font-weight: 400;
  font-size: 16px;
  padding: 0% !important;
}

.page-instrument-hr {
  width: 25%;
  border: 3px solid var(--corsa-dashboard-yellow);
}

.page-instrument-hr-custom {
  width: 90%;
  border: 3px solid var(--corsa-dashboard-yellow);
}

ul {
  font-size: 22px;
  padding-bottom: 1.5rem;
}
