#footer{
    border-top: solid;
    border-color: gold;
    border-width: 5px;
}

.footer-bg {
  background-image: url("/assets/images/common-bg.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: fixed;
  height: 100%;
  background-size: cover !important;
}

.footer-spacing {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-text {
  font-size: 25px;
  color: white;
}

.footer-custom-color {
  color: gold !important;
}

.socials-img {
  background-image: url("/assets/images/socials-logo.png");
  background-repeat: no-repeat;
  height: 20vh;
  margin-top: 40px;
  max-width: 40%;
  height: 50px;
}

.hr-line {
  color: white;
  height: 5px;
  display: block;
}

.custom-top {
  vertical-align: top !important;
  margin-top: 100%;
}

.custom-margin-top {
  margin-top: 150px;
}

.custom-margin-top-2 {
  margin-top: 130px;
}
