#footer{
    border-top: solid;
    border-color: var(--corsa-dashboard-yellow);
    border-width: 5px;
}

.footer-section{
  h1 {
    font-size: 70px;
    color: black;
    font-weight: 500;
  }

  padding: 1rem 2rem 1.5rem;
  height: 100%;
  width: 100%;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  p {
    font-size: 22px;
    color: white;
    margin-bottom: 1px;
  }
}

.footer-placeholder {
  padding-top: 2rem;
}

.footer-placeholder-vertical {
  width: 3%;
}

.footer-custom-text {
  color: var(--corsa-dashboard-yellow) !important;
}

.text-field {
  width: 250px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  outline: none; 
  background-color: transparent;
  color: white;
  padding-right: 1rem;
}

.text-field::placeholder{
  color: white;
  font-weight: 600;
}

.submit-button-container {
  display: flex;
  padding-top: 1rem;
}

.submit-button {
  background-color: var(--corsa-dashboard-yellow);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  font-weight: 600;
}