#footer {
  border-top: solid;
  border-color: var(--corsa-dashboard-yellow);
  border-width: 5px;
}

.footer-section {
  h1 {
    font-size: 70px;
    color: var(--corsa-black-color);
    font-weight: 500;
  }

  padding: 1rem 2rem 1.5rem;
  height: 100%;
  width: 100%;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  p {
    font-size: 22px;
    color: var(--corsa-white-color);
    margin-bottom: 1px;
  }
}

.footer-placeholder {
  padding-top: 2rem;
}

.footer-placeholder-vertical {
  width: 3%;
}

.footer-custom-text {
  color: var(--corsa-dashboard-yellow) !important;
}

.text-field {
  width: 250px;
  padding: 10px;
  border: 2px solid var(--corsa-white-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  background-color: transparent;
  color: var(--corsa-white-color);
  padding-right: 1rem;
}

.text-field::placeholder {
  color: var(--corsa-white-color);
  font-weight: 600;
}

.submit-button-container {
  display: flex;
  padding-top: 1rem;
}

.submit-button {
  background-color: var(--corsa-dashboard-yellow);
  color: var(--corsa-black-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  font-weight: 600;
}
