.user-profile-card {
  color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: auto;
  display: flex;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-icon {
  background-color: #033e7c;
  color: var(--corsa-white-color);
  padding: 20px;
  font-size: 24px;
  background-image: url("/assets/icons/profile-ic.png"); /* Update path to your user icon */
  background-size: contain;
  border-radius: 50%;
  margin-right: 10px;
  width: 70px;
  height: 70px;
}

.profile-info {
  padding-right: 1em;
}

.profile-info h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.profile-info .email {
  font-size: 16px;
  font-weight: 500;
}

.profile-info .verified {
  font-size: 14px;
  color: #ffc107;
  font-weight: 700;
}

.vertical-line {
  width: 8px;
  height: 100px;
  background-color: #ffc107;
}
