html * {
  font-size: clamp(14px, 2vw, 16px);
  font-family: "Lato", sans-serif;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font Family */
  --font-family-lato: "Lato", sans-serif;

  /* Font Sizes */
  --font-size-xx-small: 0.625rem; /* 10px */
  --font-size-x-small: 0.75rem; /* 12px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-x-large: 1.5rem; /* 24px */
  --font-size-xx-large: 2rem; /* 32px */

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-loose: 1.75;

  /* Letter Spacing */
  --letter-spacing-tight: -0.05em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.05em;

  /* Text Colors */
  /* --text-color-primary: #333;
  --text-color-secondary: #555;
  --text-color-muted: #888; */
}

body {
  font-family: var(--font-family-lato);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-normal);
}

/* Heading Styles */
h1 {
  font-size: var(--font-size-xx-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

h2 {
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
}

h3 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-normal);
}

h4,
h5,
h6 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-normal);
}

/* Paragraph Styles */
p {
  font-size: var(--font-size-small);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-normal);
}

/* Small Text */
.small-text {
  font-size: var(--font-size-x-small);
}
