.accordion-items-btn {
  color: var(--corsa-dashboard-dark-purple);
}

.accordion-items div strong {
  color: var(--corsa-membersite-black);
}

.accordion-items div {
  color: var(--corsa-dashboard-dark-purple);
}

.accordion-button:not(.collapsed) {
  background-color: var(--corsa-dashboard-cream);
}
