.stock-watchlist {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  display: flex;
  width: 250px;
  flex-direction: column;
}

.stock-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stock-info {
  display: flex;
  align-items: center;
}

.stock-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.stock-details {
  display: flex;
  flex-direction: column;
}

.stock-name {
  font-size: 18px;
  margin: 0;
}

.stock-price {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.divider {
  width: 100%;
  margin: 0 10px;
}

.stock-percentage {
  font-size: 16px;
  text-align: right;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
